<!-- <meta http-equiv="refresh" content="5" /> -->

<%= div_for(@match) do %>
  <!-- <% @match.state.each do |row| %>
    <%= row %><br>
  <% end %> -->
  <%= render partial: 'matches/board', locals: {board: @match.state} %>
<% end %>

<%= content_tag :h1, @info, class: 'info' %>

<% if @match.whos_turn == current_user.id  %>
  <button type="button" name="click" id='click'>click</button>
<% else  %>
  <button type="button" name="click" id='click' disabled='disabled'>click</button>
<% end %>

<script type="text/javascript">
  // $(document).on('click', '#click', function(event){
  //   $.ajax({
  //     url: location.pathname,
  //     type: 'PATCH',
  //     data: { 'user': '<%= current_user.id %>'}
  //   })
  // })

  // $(document).on('ready page:load', function(){
  //   setTimeout(function(){
  //     if($('#click').attr('disabled') == 'disabled')
  //       window.location.reload(1);
  //   }, 3000);
  // })

  $(document).on('ready page:load', function(){
    setInterval(function(){
      if($('#click[disabled=disabled]').length > 0)
        $.ajax({ url: location.pathname + '/refresh', type: 'GET' })
    }, 3000)
  })

  $(document).keyup(function(e){
    if($('#click[disabled=disabled]').length <= 0)
    {
      $.ajax({
        url: location.pathname,
        type: 'PATCH',
        data: { 'move': e.keyCode }
      })
    }
  });
</script>
